@model GuardPRO.API7.Controllers.RegisterViewModel

@{
    ViewData["Title"] = "Регистрация";
}

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.UserEmail)
        @Html.EditorFor(model => model.UserEmail)
        @Html.ValidationMessageFor(model => model.UserEmail)
    </div>
    
    <div>
        @Html.LabelFor(model => model.UserLogin)
        @Html.EditorFor(model => model.UserLogin)
        @Html.ValidationMessageFor(model => model.UserLogin)
    </div>

    <div>
        @Html.LabelFor(model => model.UserBird)
        @Html.EditorFor(model => model.UserBird)
        @Html.ValidationMessageFor(model => model.UserBird)
    </div>

    <div>
        @Html.LabelFor(model => model.UserName)
        @Html.EditorFor(model => model.UserName)
        @Html.ValidationMessageFor(model => model.UserName)
    </div>

    <div>
        @Html.LabelFor(model => model.UserPassword)
        @Html.EditorFor(model => model.UserPassword)
        @Html.ValidationMessageFor(model => model.UserPassword)
    </div>
    
    <button>Зарегистрироватся</button>
}